[ req ]
default_bits        = 2048
default_keyfile     = kickstart-mvc.key
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req
prompt              = no

[ req_distinguished_name ]
C = US
ST = California
L = San Francisco
O = kickstart mvc
OU = Development
CN = www.kickstart-mvc

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = www.kickstart-mvc
DNS.2 = alpha.kickstart-mvc
DNS.3 = beta.kickstart-mvc
